<div class='row'>
	<div class='col-sm-12 .col-sm-offset-2'>
  	<h1>What is Nala?</h1>
  		<p>Nala is an ORM that handles your GraphQL requests and provides you with queries and mutations for your schemas. We take care of the communication between the server and the database so that you can focus on developing clean and powerful applications.</p>
  </div>
</div>

<div class='row'>
	<div class='col-lg-12 .col-lg-12-offset-4'>
	  <p id='cen'>Example of a Nala Server</p>
	  <div class="box">
	    <code><r>var</r> <nal>Nala</nal> = require('nala');<br/>
				  <r>var</r> graphQLHandler = <nal>Nala</nal>(Schema, 'postgres://localhost/test');<br/>
				  app.post('/graphql', graphQLHandler);
		  </code>.
	  </div>
	</div>
</div>
<div class="row">
	<div class='col-lg-12'>
		<p id='cen'>A Nala Schema Page</p>
		<div class="box">
	    <code>let userType = new GraphQLObjectType({<br/>
 						name: 'user',<br/>
 						description: 'this is the user type',<br/>
 						fields: {<br/>
   					'name': {type: GraphQLString},<br/>
   					'age': {type: GraphQLInt}<br/>
 						}<br/>
						});<br/>
<br/>
						//myComponent.js<br/>
						//construct the query<br/>
						var query = {<br/>
   					'query' : `query<br/>
              queryUser($name:String) {<br/>
                 getUser(name: $name) {<br/>
                         name<br/>
                   age<br/>
                 }<br/>
             }`,<br/>
   'variables': {'name': this.state.name}<br/>
}<br/>
//send it to graphql<br/>
$.post('/graphql', query, function(response){<br/>
 console.dir(response.data);<br/>
});<br/>
		  </code>.
	  </div>
	</div>
</div>