/*  #393939 dark gray
    #6E6E6E gray
    #FF5A09 orange
    #F3843E peach
    #FF9900 yelluh*/
body {
    background: #393939;
    font: verdana;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 150px;
    width: 0;
    height: 100%;
    margin-left: -150px;
    overflow-y: auto;
    background-color: #6E6E6E;
    background-image: url(nalaemblem.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    color: #FF9900;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FF9900;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #FF5A09;
    background: #393939;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: #393939;
    color: #FF5A09;
}

#pages{
    font-size: 20px;
    color: #FF9900;
}



@media(min-width:300px) {
    #wrapper {
        padding-left: 150px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 150px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

}