/*  #393939 dark gray
    #6E6E6E gray
    #FF5A09 orange
    #F3843E peach
    #ffa70f yelluh*/
body {
    background: #f5f5f5;
    font: verdana;
}

code{
    color: #393939;
    font-size:75%;
    white-space: nowrap;
}

code r{
    color: red;
}

code y{
    color: #ffa70f;
}

code st{
    color: #F3843E;
}
pre{
    background: #cfcfcf;
}

#wrapper {
        padding-left: 235px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 235px;
    width: 235px;
    height: 100%;
    margin-left: -235px;
    overflow-y: auto;
    background-color: #6E6E6E;
    background-image: url(nalaemblem.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
}

#page-content-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px;   
}

#cen{
    text-align: center;
    background-color: none;
}

#pages{
    margin: 20px 0 0 0;
    font-size: 20px;
}

.row{
    padding: 0 5px 3px 10px;
}

.box{
    background-color:#cfcfcf;
    margin-left: auto;
    margin-right: auto;
    width:73%;
    font-size:77%;  
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #ffa70f;
}

.sidebar-nav li {
    text-indent: 35px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFA70F;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #FF5A09;
    background: #393939;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 25px;
    line-height: 45px;
}

.doclink {
    color: #F3843E;
    font-size: 20px;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: #393939;
    color: #FF5A09;
}

.subnav{
    list-style-type: none;
}